/The92ShopApp/build/
/The92ShopApp/dist/
/the92Shop/nbproject/private/
/the92Shop/build/
/the92Shop/dist/
/the92Shop_1/nbproject/private/
/the92Shop_1/dist/
/the92Shop_1/build/
the92Shop/nbproject/private/private.properties
*.properties
*.xml
