body,
ul {
    margin: 0;
    background-color: whitesmoke !important;
    height: 100%;
    padding: 0px;


}

#header {
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: #263238;
    position: fixed;
    z-index:10;
    text-transform: capitalize;   
    padding-bottom:5px;

}

#currentUser{
    position: fixed; 
    right: 150px;
    top: 0px;

}


#header button {
    text-transform: capitalize;
    border-radius: 8px;
}

#parent {
    width:100%;
    height:100%;
}
#sidebar {
    padding-top: 10px;
    width:200px;
    height:100%;
    bottom:0;
    box-sizing:border-box;
    position: fixed;
    z-index:99;
}

.nav-side-menu {
    padding-top: 20px;
    width:200px;
    height:100%;
    bottom:0;
    box-sizing:border-box;
    position: fixed;
    z-index:99;


}

.admimdrawer li {
    pointer-events: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    transform: translateZ(0);
    height: 70px;
    background: #263238;

}

.admimdrawer a {
    pointer-events: auto;
    position: relative;
    display: block;
    min-width: 5em;
    margin-bottom: .4em;
    padding: .4em;
    line-height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}

.admimdrawer a:active ,
.admimdrawer a:focus { background: #263238 !important; }

.admimdrawer i {
    display: block;
    margin-bottom: .2em;
    font-size: 1.75em;

}

.admimdrawer span {
    font-size: .8em;
}

.admimdrawer li:hover ul {
    transform: translateX(0);
    background: #263238!important;/* Enable this if you wish to replicate hoverIntent */
}


.admimdrawer > li { display: block;}

.admimdrawer > li > a { background: #263238!important; }

.admimdrawer > li:hover { z-index: 100; }

.admimdrawer > li:hover a { background: #263238!important; }

.admimdrawer > li a:hover { background: #37474F!important; }

.admimdrawer > li > a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 4px;
    opacity: 0;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1 );
    transition: opacity 0.5s;
}

.admimdrawer > li:hover a:after { opacity: 1; }

.admimdrawer > li ul {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 100%;
    height: 100%;
    width: auto;
    white-space: nowrap;
    transform: translateX(-100%);
    background: #263238;
    transition: 0.5s transform;
}


.drawer li {
    pointer-events: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    transform: translateZ(0);
    height: 75px;
    background: #263238;

}

.drawer a {
    pointer-events: auto;
    position: relative;
    display: block;
    min-width: 5em;
    margin-bottom: .4em;
    padding: .4em;
    line-height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}

.drawer a:active ,
.drawer a:focus { background: #263238 !important; }

.drawer i {
    display: block;
    margin-bottom: .2em;
    font-size: 2em;

}

.drawer span {
    font-size: .8em;
}

.drawer li:hover ul {
    transform: translateX(0);
    background: #263238!important;/* Enable this if you wish to replicate hoverIntent */
}


.drawer > li { display: block;}

.drawer > li > a { background: #263238!important; }

.drawer > li:hover { z-index: 100; }

.drawer > li:hover a { background: #263238!important; }

.drawer > li a:hover { background: #37474F!important; }

.drawer > li > a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 4px;
    opacity: 0;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1 );
    transition: opacity 0.5s;
}

.drawer > li:hover a:after { opacity: 1; }

.drawer > li ul {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 100%;
    height: 100%;
    width: auto;
    white-space: nowrap;
    transform: translateX(-100%);
    background: #263238;
    transition: 0.5s transform;
}



.navButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

#logoutBtn{
    position: fixed; 
    right: 10px;
    top: 5px;
}

#filterBtn{
    position: absolute; 
    left: 445px;
    top: 84px;
}



.loginpic{
    width: 100%;
    height: auto;
}

.loginContainer{
   
    position: absolute; 
    top: 50%;
    left: 50%;
    margin: -245px 0 0 -180px;
    height: auto;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    background-color: white;
    border-radius: 20px;

}

#loginBtn{
     border-radius: 8px;
    text-transform: capitalize !important;
}

#loginContent{
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    display: table;


    text-transform: capitalize;
}

img {
    display: block;
    margin: 0 auto;
}

.subPageContent{
    margin-left:220px;
    margin-top:70px;
    height: 100%;
    position: absolute;  
    font-size: 18px !important;

}

.subPageContent button{
    text-transform: capitalize;
    border-radius: 8px;
}

.subPageContentInventory{
    margin-left:215px;
    top:50px;
    position: relative; 
    font-size: 16px !important;
    width:530px;
}

.subPageTitleContentInventory{
    margin-left:215px;
    top:70px;
    position: relative; 
    font-size: 20px !important;
    width:530px;
}

.subPageContentInventory button{
    text-transform: capitalize;
    border-radius: 8px;
}

.addExpense{
    margin-left:550px;
    margin-top:442px;
    height: 100%;
    font-family: Varela Round !important;
    position: absolute;  
    font-size: 18px !important;

}

table#inventoryTable th{
    border-collapse: collapse;
    padding: 8px;
    background: #3F51B5;
    color: whitesmoke;
    text-align: center; 
    border-spacing: 0;
}

table#inventoryTable td{
    border-spacing: 0;
    text-align: center;
    padding: 25px;
    background: #ffffff;
}

#inventoryTable{
    position: absolute;

}

#financialStatement {
    display: inline-block;
    font-size: 18px;
    margin-left:220px;
    margin-top:70px;
    height: 100%;
    position: absolute;  
    width: 700px;
}

#financialStatement button{
    text-transform: capitalize;
    border-radius: 8px;
}

.my_text {
    position: absolute;
    font-size: 20px !important;
    top:180px;
}

table#custTable th{
    border-collapse: collapse;
    padding: 8px;

    text-align: center; 
}

table#custTable td{
    text-align: center;
    padding: 8px;

}

table#invTable th{
    border-collapse: collapse;
    padding: 8px;

    text-align: left; 
}

table#invTable td{
    text-align: center;
    padding: 8px;

}

th#aquantity{
    text-align: left !important ; 
}


td#iName{
    text-align: left !important; 
}

td.invName{
    text-align: left !important; 
}

td#name{
    text-align: left !important; 
}



td#quantity{
    text-align: center; 
}

table#AdminTable td{
    font-size: 18px !important;
}

.financeSubPageContent{
    margin-left:200px;
    margin-top:50px;
    height: 100%;
    position:absolute;
    font-size: 18px !important;

}

.financeSubPageContent button{
    text-transform: capitalize;
    font-size: 18px !important;
    border-radius: 8px;
}

#financialDashboard {
    display: inline-block;
    padding-left:350px;
    padding-top:30px;
    font-size: 18px;
}


.navDbButton {
    background-color: #01579B;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 12px;
}

#financeNavigation{
    padding: 12px;
    background-color: #01579B;
    text-transform: capitalize;   
    position: fixed;  
    width:100%; 
    z-index:1;
}

#financeNavigation a{
    color: white;

}

#financeNavigation button{
    border-radius: 24px;

}

.topProduct {
    left: 785px;
    top: 70px !important;
    float: right;
    position: absolute;
    width: 548px;
    padding: 7px !important;
}

.topProduct button {
    text-transform: capitalize;
}


.lowInv {
    position: relative;
    right: 400px !important;
    top:200px !important;
    font-size: 20px !important;

}

table#myTable th{
    padding: 8px;

}

table#myTable td{
    text-align: center;
    padding: 20px;


}

table#topTable td{

    padding: 20px;


}

#invDbTitle{

    padding-left:400px;
    padding-top:40px;
}


.btn{
    background-color: #0091EA;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 8px;
}

.addexpenseButton{
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 8px !important;
    text-transform: capitalize;
}

.profits{
    display: inline-block;
    overflow: hidden;
    position: relative;
    top:17px;
    left:20px;

}

.monthlyprofits{
    left: 290px;
    bottom:195px;
    width: 520px;
    margin-left: 150px;
    position: relative;
    display: inline-block;

}

.monthlysales{
    position: absolute;
    right: 170px;
    top: 250px;
    width: 480px;
}

.monthlyexpenses{
    left: 340px;
    bottom: 195px;
    width: 550px;
    margin-left: 150px;
    position: relative;
}

.profitYearlyResult {
    position: absolute;
    right: 170px;
    top: 250px;
    width: 480px;
}

.profitMonthlyResult {
    position: absolute;
    right: 170px;
    top: 250px;
    width: 480px;
}

.expenseYearlyResult {
    position: absolute;
    right: 200px;
    top: 250px;
    width: 480px;
}

.expenseFormPanel{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    overflow: hidden;
    width: 570px;
    font-size: 18px !important;
}

.addInventoryPanel{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    overflow: hidden;
    width: 570px;
    height: 700px;
}

.searchCustomerPanel{
    display: inline-block;
    overflow: hidden;
    bottom: 190px;
    position: relative;
}

.addCustomerPanel{
    left: 450px;
    top: 7px;
    width: 300px;
    position: relative;
}

.customerTableResult{
    display: inline-block;
    overflow: hidden;
    position: relative;
    bottom: 180px;

}

.addInvQtyPanel{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    left: 300px;
    bottom: 210px;
    width: 620px;
    margin-left: 150px;
    position: relative;
}

.orderPickingPanel{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1080px;

}

.orderPicking{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    left: 290px;
    bottom: 300px;
    width: 620px;
    margin-left: 150px;
    position: relative;
}

.orderPickingcustNum{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    right: 160px;
    width: 550px;
    margin-left: 150px;
    position: relative;;
}

.buttonType{
    font-family : Valera Round!important;
    font-size: 1em;

}


.invMgt-table {
    margin: 1em 0;
    min-width: 300px;
}
.invMgt-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.invMgt-table th {
    display: none;
}
.invMgt-table td {
    display: block;
}
.invMgt-table td:first-child {
    padding-top: .5em;
}
.invMgt-table td:last-child {
    padding-bottom: .5em;
}
.invMgt-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .invMgt-table td:before {
        display: none;
    }
}
.invMgt-table th, .invMgt-table td {
    text-align: center;
}
@media (min-width: 480px) {
    .invMgt-table th, .invMgt-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .invMgt-table th:first-child, .invMgt-table td:first-child {
        padding-left: 0;
    }
    .invMgt-table th:last-child, .invMgt-table td:last-child {
        padding-right: 0;
    }
}



.invMgt-table {
    background: #EEEEEE;
    color: black;
    border-radius: .8em;
    overflow: hidden;
}
.invMgt-table tr {
    border-color: #46637f;
}
.invMgt-table th, .invMgt-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .invMgt-table th, .invMgt-table td {
        padding: 1em !important;
    }
}
.invMgt-table th, invMgt-table td:before {
    color: black;
}

h1{
    font-weight: bold !important;
}

.leastPriceBundle {
    position: absolute;
    left: 500px;
    top: 350px;
    width: 480px;
}

.topPriceBundle{
    position: absolute;
    right: 85px;
    top: 350px;
    width: 480px;
}

.priceBundleSpan {
    display:inline-block; 
    position: relative;
    top: 12px;
}

.userSpan {
    display:inline-block; 
    position: relative;
    top: 2px;
    color: black !important;
}



span > i {
    color: white;
}
span > input {
    background: none;
    color: white;
    padding: 0;
    border: 0;
}

.userIcon{
    font-size: 16px;
    margin-top: 0px !important;
    line-height: 5px !important;
    right: 10px;
    top: 0px;
    margin-bottom: 0px !important;

}

#button{
    visibility: visible !important;
}

#basic-table{
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}