body,
ul {
  margin: 0;
  padding: 0;
}
.nav-side-menu {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #263238;
  color: white;
  text-align: center;
}

.drawer li {
  pointer-events: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  transform: translateZ(0);
  height: 89px;
}

.drawer a {
  pointer-events: auto;
  position: relative;
  display: block;
  min-width: 5em;
  margin-bottom: .4em;
  padding: .4em;
  line-height: 100%;
  font-size: 22px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
}

.drawer a:active,
.drawer a:focus { background: #263238; }

.drawer i {
  display: block;
  margin-bottom: .2em;
  font-size: 2em;
}

.drawer span {
  font-size: .625em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.drawer li:hover ul {
  transform: translateX(0);
  background: #263238;/* Enable this if you wish to replicate hoverIntent */
}

.drawer > li { display: block;}

.drawer > li > a { background: #263238; }

.drawer > li:hover { z-index: 100; }

.drawer > li:hover a { background: #263238; }

.drawer > li a:hover { background: #263238; }

.drawer > li > a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 4px;
  opacity: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1 );
  transition: opacity 0.5s;
}

.drawer > li:hover a:after { opacity: 1; }

.drawer > li ul {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 100%;
  height: 100%;
  width: auto;
  white-space: nowrap;
  transform: translateX(-100%);
  background: #8B9DC3;
  transition: 0.5s transform;
}


.navButton {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
     font-family: sans-serif;
}

#userBar {
    position: absolute;
    bottom: 650px;
    left: 1090px;
    font-size: 20px;
}

#logoutBtn{
    position: absolute;
    bottom:630px;
    left: 1340px;
    font-size: 18px;
}

#loginContainer{
    position: absolute;
    bottom: 100px;
    left: 560px;
    font-size: 18px;
    font-family: Wellfleet;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.subPageContent{
    margin-left:270px;
    margin-top:70px;
    height: 100%;
    font-family: Wellfleet;
    position: absolute;  
    font-size: 20px !important;
}

table#invTable th{
    border-collapse: collapse;
    padding: 8px;
    background: #3F51B5;
    color: whitesmoke;
    text-align: center; 
    border-spacing: 0;
}

table#invTable td{
    border-spacing: 0;
    text-align: center;
    padding: 8px;
    background: #ffffff;
}

table#inventoryTable th{
    border-collapse: collapse;
    padding: 8px;
    background: #3F51B5;
    color: whitesmoke;
    text-align: center; 
    border-spacing: 0;
}

table#inventoryTable td{
    border-spacing: 0;
    text-align: center;
    padding: 25px;
    background: #ffffff;
}

#inventoryTable{
    position: absolute;
    
}

table#expenseTable td{
    font-family: Wellfleet;
    font-size: 20px !important;
}

#FinancialStmt {
    position: absolute;
    font-family: Wellfleet;
    font-size: 20px !important;
    padding-left:350px;
    padding-top:290px;
}

#financialStatement {
    display: inline-block;
    font-size: 18px;
    margin-left:270px;
    margin-top:70px;
    height: 100%;
    font-family: Wellfleet;
    position: absolute;  
    font-size: 20px !important;

}

.my_text {
    position: absolute;
    font-family: Wellfleet;
    font-size: 20px !important;
    left:350px;
    top:230px;
}

table#custTable th{
    border-collapse: collapse;
    padding: 8px;
    background: #3F51B5;
    color: #ffffff;
    text-align: center; 
}

table#custTable td{
    text-align: center;
    padding: 8px;
    background: #ffffff;
}

table#AdminTable td{
    font-family: Wellfleet;
    font-size: 20px !important;
}


#financialDashboard {
    display: inline-block;
    padding-left:350px;
    padding-top:30px;
    font-size: 18px;

}

#topProduct {
    padding-right:50px;
    padding-top: 140px;
    font-size: 18px;
    float: right;
    font-family: Wellfleet;
    font-size: 20px !important;
}


#lowInv {
    position: absolute;
    padding-left: 280px !important;
    padding-top:100px !important;
    font-family: Wellfleet;
    font-size: 20px !important;
    
}

table#myTable th{
    border-collapse: collapse;
    padding: 8px;
    text-align: center; 
}

table#myTable td{
    text-align: center;
    padding: 8px;
    width: 180px;
    word-wrap: break-word; 
}

#invDbTitle{
    
    padding-left:400px;
    padding-top:40px;
}

.navDbButton {
    cursor: pointer;
    background-color: #5C6BC0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    float: left;
    padding: 15px 32px;
    font-family: Wellfleet;
}

.btn{
    background-color: #0091EA;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 8px;
}

